<script lang="ts">
    import * as secp from "@noble/secp256k1";
    import { keccak_256 } from "@noble/hashes/sha3";

    let prInputVal: string;
    let pr: bigint;
    let pu: Uint8Array;
    let hash: Uint8Array;

    let puHex: string;
    let addrHex: string;

    function updatePublicKey(event: any) {
        try {
            pr = BigInt(prInputVal);
            pu = secp.getPublicKey(pr);
            hash = keccak_256(pu.slice(1));
            
            puHex = secp.utils.bytesToHex(pu);
            addrHex = secp.utils.bytesToHex(hash.slice(12));
        } catch (err) {
            console.error(`failed to parse private key input ${prInputVal}`);
            pr = undefined;
            pu = undefined;
        }
    }

    function toHexStr(pr: bigint, byteLength: number) {
        return pr ? `${pr.toString(16).padStart(byteLength*2, '0')}` : "";
    }
</script>

<div class="wrapper">
    <input on:change={updatePublicKey} bind:value={prInputVal} type="text" placeholder="private key as hex or number">
    <div class="disp">
        <p class="title">private key</p>
        <div class="info">
            <p>(as number)</p>
            <p>{ pr?.toString() || "..."}</p>
        </div>
        <div class="info">
            <p>(as hex str)</p>
            <p>{toHexStr(pr, 32) || "..."}</p>
        </div>
    </div>
    <div class="disp">
        <p class="title">public key</p>
        <div class="info">
            <p>{`${puHex ? puHex.length/2 : `...`} bytes`}</p>
            <p>{puHex || "..."}</p>
        </div>
    </div>
    <div class="disp">
        <p class="title">address</p>
        <div class="info">
            <p>{addrHex || "..."}</p>
        </div>
        <div class="info">
            <p> keccak256 hash (of public key) </p>
            <p>{hash ? secp.utils.bytesToHex(hash) : "..."}</p>
        </div>
    </div>
</div>

<style>

    .wrapper {
        width: 60%;
        margin: 20px auto;
    }

    input {
        background: whitesmoke;
        padding: 8px 15px;
        border-radius: 100px;
        width: 100%;
        border: none;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .disp {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .disp > .info {
        font-family: monospace;
        word-wrap: break-word;

        padding: 6px 12px;
        margin-bottom: 10px;
        background-color: rgb(240, 240, 240);
        border-radius: 8px;
    }

</style>