<script lang="ts">
    import { ethers } from "ethers";
    import { afterUpdate, onMount } from "svelte";
    import ABI from "./lib/abi";

    type SvelteEvent<Type> = Event & { currentTarget: Event & Type }
    enum TxState {
        None = "",
        Waiting = "waiting...",
        Pending = "pending...",
        Complete = "complete.",
        Error = "error.",
    }

    const provider = ethers.getDefaultProvider("ropsten", {
        infura: "a8746a6b7a5a48d399ac39941e735a96"
    });

    let signer: ethers.Signer;
    let contract: ethers.Contract;

    let privateKeyInput: string = "";
    let addressInput: string = "";
    let contractInput: string = "0xEac607d269Dde4e6210C5e575f8909FBdFee015c";

    let params: NodeList;
    let fnList: string[];
    let fnCall: string;
    let callResult: object;
    let isTransaction: boolean;
    let contractName: string;
    let contractSymbol: string;
    let txState: string = TxState.None;

    $: signer, connectContract(contractInput);

    onMount(async () => { 
        await connectVoidSigner();
        setTimeout(() => connectContract(contractInput), 0); // svelte lifecycle weird
    });

    afterUpdate(() => {
        // updateParamListeners();
    });

    function canCallFn(fn: string) {
        const constant = contract.interface.functions[fn].constant;
        const wallet = contract.signer instanceof ethers.Wallet;
        return constant || !constant && wallet;
    }

    async function abiCall(event: MouseEvent) {
        const el = (this as HTMLButtonElement);
        const data = el.getAttribute("data");
        const fn = contract.interface.functions[data];
        const paramElems = el.parentElement.querySelectorAll("input");
        const params = [];
        paramElems.forEach((paramEl: HTMLInputElement) => {
            params.push(paramEl.value);
        })
        fnCall = `${fn.name}(${params})`;
        try {
            callResult = undefined;
            txState = TxState.Waiting;
            isTransaction = !fn.constant;
            callResult = await contract.functions[data](...params);
            txState = TxState.Pending;
            // callResult = await contract.callStatic[data](...params);
            if (Object.hasOwn(callResult, "wait")) {
                callResult["wait"]().then(r => {
                    callResult = {...callResult, ...r};
                    txState = TxState.Complete;
                }).catch(err => {
                    txState = TxState.Error;
                    console.log(err);
                });
            } else {
                txState = TxState.Complete;
            }
        } catch (err) {
            console.error(err);
            callResult = undefined;
            txState = TxState.Error;
        }
    }

    function inputMatchValue() {
        this.style.width = (this.value.length || this.placeholder.length) + "ch";
    }
    
    function inputBlur() {
        this.style.width = this.value ? `${Math.min(this.value.length, 6)}ch` : `${this.placeholder.length}ch`;
    }

    async function connectContract(addr: string) {
        try {
            if (addr == "") throw Error("no contract");
            contract = new ethers.Contract(
                  addr
                , ABI.multi(ABI.ERC721, ABI.ERC721Metadata, ABI.ERC721Solmate)
                , signer || provider);

            console.log(`created contract ${contract.address}`);
            fnList = Object.keys(contract.interface.functions);

            contractName = await contract.name();
            contractSymbol = await contract.symbol(); 
        } catch (err) {
            fnList = [];
            console.log(`failed to create contact ${addr}`);
            console.error(err);
        }
}

    async function connectVoidSigner(addr: string = "") {
        try {
            signer = new ethers.VoidSigner(addr, provider);
            console.log(`created void signer ${await signer.getAddress()}`);
        } catch (err) {
            console.log(`failed to create void signer ${addr}`);
            console.error(err);
        }
    }

    async function connectWalletSigner(pr: string) {
        try {
            signer = new ethers.Wallet(pr, provider);
            console.log(`created wallet signer ${await signer.getAddress()}`);
        } catch(err) {
            console.log(`failed to create wallet signer`);
            console.error(err);
        }
    }

    function handleContractChange(event: SvelteEvent<HTMLInputElement>) {
        const addr = event.currentTarget.value;
        if (addr) {
            connectContract(addr);
        } else {
            contract = undefined;
            fnCall = "";
            callResult = undefined;
            txState = TxState.None;
        }
    }

    function handleEoaAddressChange(event: SvelteEvent<HTMLInputElement>) {
        const addr = event.currentTarget.value;
        if (addr) {
            connectVoidSigner(addr);
        } else {
            signer = undefined;
        }
    }

    async function handlePrivateKeyChange(event: SvelteEvent<HTMLInputElement>) {
        const pr = event.currentTarget.value;
        if (pr) {
            connectWalletSigner(pr);
            addressInput = await signer.getAddress();
        } else {
            signer = undefined;
        }
    }
</script>

<main>
    <div class="wallet">
        <p class="title {signer ? "valid" : "invalid"}">EOA</p>
        
        <input 
        class="wide-input"
        type="password" 
        bind:value={privateKeyInput} 
        on:change={handlePrivateKeyChange} 
        placeholder="private key">
        
        <input 
        class="wide-input"
        type="text" 
        bind:value={addressInput}
        on:change={handleEoaAddressChange} 
        placeholder="public key">
        or 
        <button>connect wallet</button>
    </div>

    <div class="contract">
        <p class="title">
            contract 
            ⎡ {contract ? contractName || "..." : ""}
            ( {contract ? contractSymbol || "..." : ""} ) ⎦
        </p>

        <input
        class="wide-input"
        type="text"
        bind:value={contractInput}
        on:change={handleContractChange}
        placeholder="contract address">
        <div class="call-output">
            <p class="fn-call"> ✦ {fnCall ? `${fnCall}` : "try calling a function below"} </p>
            <p class="transaction-status"> { txState } </p>
            {#if callResult && txState != TxState.Error}
                {#if isTransaction}
                    <a 
                    class="tx-link" 
                    href={`https://ropsten.etherscan.io/tx/${callResult["hash"]}`} 
                    target=_blank> 
                        tx: { `${callResult["hash"].substring(0, 10)}...` || "???" } ↗ 
                    </a>
                    <p> status: { callResult["status"] || ""} </p>
                    <p> chain id: { callResult["chainId"] || ""} </p>
                    <p> block: { callResult["blockNumber"] || ""} </p>
                    <p> to: { callResult["to"] || ""} </p>
                    <p> from: { callResult["from"] || ""} </p>
                    <p> nonce: { callResult["nonce"] || ""} </p>
                    <p> gas limit: { callResult["gasLimit"] || ""} </p>
                    <!-- <p> gas price: { callResult["gasPrice"] || ""} </p> -->
                    <p> max fee per gas: { callResult["maxFeePerGas"] || ""} </p>
                    <p> max priority fee per gas: { callResult["maxPriorityFeePerGas"] || ""} </p>
                    <p> gasUsed: { callResult["gasUsed"] } </p>
                    <p> effectiveGasPrice: { callResult["effectiveGasPrice"] || ""} </p>
                    <p> value: { callResult["value"] || ""} </p>
                {:else}
                    <p> { callResult } </p>
                {/if}
            {/if}
        </div>
        <ul class="fn-list">
            {#if contract}
                {#each fnList as fn}
                    <li>
                        <button disabled={!canCallFn(fn)} on:click={abiCall} data={fn} class="call">call</button>
                        <span disabled={!canCallFn(fn)} class="fn">
                            <span class="fn-name">{ contract.interface.functions[fn].name }(</span>
                            <span class="fn-param-list">
                                {#each contract.interface.functions[fn].inputs as {name, baseType}, i }
                                    <span class="fn-param">
                                        <label for="param-input-{i}"> {name} </label>
                                        <input 
                                        disabled={!canCallFn(fn)}
                                        on:blur={inputBlur}
                                        on:input={inputMatchValue}
                                        on:focus={inputMatchValue}
                                        style="width: {baseType.length}ch"
                                        class="param-input" 
                                        id="param-input-{i}"
                                        placeholder={baseType}>
                                    </span>
                                {/each}
                            </span>
                            <span>)</span>
                            <span class="fn-return">
                                {#each contract.interface.functions[fn].outputs as {name, baseType}, i }
                                    <span class="fn-return-name"> {name || ""} </span>
                                    <span> {baseType} </span>
                                {/each}
                            </span>
                        </span>
                    </li> 
                {/each}
            {/if}
        </ul>
    </div>
    <a class="repo-link" target=_blank href="https://gitlab.com/60fov/etheria"> repo↗ </a>
</main>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    main {
        width: 60%;
        margin: 40px auto 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    main > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
    }

    input {
        border: none;
        background: rgb(238, 244, 248);
        border-radius: 4px;
        margin-bottom: 8px;
    }

    button {
        border: none;
        padding: 1px 5px;
        border-radius: 3px;
    }

    .wide-input {
        padding: 6px 12px;
        width: 100%;
    }

    .title {
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    .valid:after {
       content: "🌐";
       padding: 5px;
    }

    .invalid:after {
        content: "💤";
        padding: 5px;
    }

    .fn-list {
        list-style: none;
        white-space: nowrap;
    }

    .fn {
        display: inline-flex;
        font-family: monospace;
        margin: 5px 0;
        white-space: nowrap;
    }

    .fn[disabled=true] {
        color: lightgray;
    }
    
    .fn-name {
    }

    .fn-param-list {
        display: flex;
    }

    .fn-param {
        display: inline-flex;
    }
    .fn-param:not(:last-of-type) {
        margin-right: 10px;
    }

    .param-input {
        font-size: .9em;
        box-sizing: content-box;
        border-radius: 3px;
        padding: 1px 4px;
        margin: 0 0 0 3px;
        position: relative;
        display: inline-block;
        font-family: monospace;
        transition: width 100ms;
    }

    .fn-return {
        display: flex;
        margin-left: 5px;
    }

    .fn-return-name {
        margin-right: 5px;
    }
    
    .fn-call {
    }

    .transaction-status {
        font-weight: bold;
    }

    .tx-link {
        color: inherit;
    }

    .call-output {
        padding: 12px;
        background: rgb(208, 212, 239);
        border-radius: 4px;
        width: 100%;
        font-family: monospace;
    }

    .repo-link {
        font-family: monospace;
        position: absolute;
        left: 20px;
        bottom: 20px;
        color: inherit;
    }

</style>